<% if @article.errors.any? %>
    <p>The following messages prevented the article from being saved: </p>

    <ul>
    <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_with(model: @article, local: true) do |f| %>

    <p> 
        <%= f.label :title%>
        <%= f.text_field :title %>
    </p>

    <p> 
        <%= f.label :description %>
        <%= f.text_area :description %>
    </p>

    <%= f.submit %>
<% end %>
