<div class="container-fluid">
    <h2 class="text-center text-white my-4">Alpha Bloggers</h2>

    <% if will_paginate @users%>
        <div class="flickr_pagination my-4">
            <%= will_paginate @users, :container => false %>
        </div>
    <% end %>

    <% @users.each do |user| %>
        <div class="card text-white text-center bg-dark mb-4">
            <div class="card-header fst-italic">
                <%= link_to user.username, user, class:"text-white text-center text-decoration-none fs-5"%>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    <%= link_to gravatar_for(user, size:150), user %>
                </h5>
                <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
                <div class="d-flex justify-content-center align-items-center">
                    <%= button_to 'View Profile', user, method: :get, class: "btn btn-outline-primary mx-2" %>
                    <% if logged_in? && user == current_user%>
                        <%= button_to 'Edit Profile', edit_user_path(user), method: :get, class: "btn btn-outline-warning mx-2" %>
                    <% end %>
                </div>
            </div>
            <div class="card-footer text-muted fst-italic">
                Joined <%= time_ago_in_words(user.created_at) %> ago
            </div>
        </div>
    <% end %>

    <% if will_paginate @users%>
        <div class="flickr_pagination my-4">
            <%= will_paginate @articles, :container => false %>
        </div>
    <% end %>
</div>