<div class="container">
    <h1 class="my-4 text-center text-white">Categories List</h1>
     <% if logged_in? && current_user.admin?%>
        <div class="text-center">
            <%= button_to 'Create new category', new_category_path, method: :get, class: "btn btn-outline-primary text-white mb-4"%>
        </div> 
    <% end %>

    <% if will_paginate @categories %>
        <div class="flickr_pagination mt-1 mb-4">
            <%= will_paginate @categories, :container => false %>
        </div>
    <% end %>

    <% if @categories.any? %>
        <% @categories.each do |category| %>
            <div class="card text-white text-center bg-dark mb-4">
                <div class="card-body">
                    <h5 class="card-title my-0"><%= link_to category.name, category_path(category),class: "badge bg-primary text-white text-decoration-none fs-6" %></h5>
                </div>
                <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
                <div class="card-footer text-muted fst-italic">
                    created <%= time_ago_in_words(category.created_at) %> ago, edited <%= time_ago_in_words(category.updated_at) %> ago
                </div>
            </div>
        <% end %>
    <% end %>

     <% if will_paginate @categories %>
        <div class="flickr_pagination mt-1 mb-4">
            <%= will_paginate @categories, :container => false %>
        </div>
    <% end %>
</div>
