<div class="container">
    <h1 class="text-center text-white my-4">Category: <%= @category.name %></h1>
     <% if logged_in? && current_user.admin?%>
        <div class="text-center my-4">
            <%= button_to "Edit category name", edit_category_path(@category), method: :get, class: "btn btn-outline-primary"%>
        </div>
    <% end %>
    <h3 class="text-center text-white my-3">Articles</h3>
    <% if will_paginate @articles%>
        <div class="flickr_pagination mt-1 mb-4">
            <%= will_paginate @articles, :container => false %>
        </div>
    <% end %>   
    
    <%= render 'articles/article'%>

    <div class="text-center">
        <%= button_to 'Return to categories listings', categories_path, method: :get, class: "btn btn-outline-light mb-4"%>
    </div>

    <% if will_paginate @articles%>
        <div class="flickr_pagination my-4">
            <%= will_paginate @articles, :container => false %>
        </div>
    <% end %> 
</div>
